@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');


.feed-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../public/TOTS_Feed_Page.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: fit-content;
  padding-left: 50px;
  padding-top: 50px;
}

.feed-title {
  color: white;
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 100px;
}

.submit-button{ 
    opacity: 1.0;
    margin: 15px;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 40px;
    background: none;
    border: 2px solid white;
    border-radius: 100px;
    padding: 20px;
    cursor: url(../../../public/sword-cursor.png), auto;  font-size: 20px;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-left: 500px;
}

.submit-button:hover{
  opacity: 0.5;
}

#message{
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.post-form {
  margin-top: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 700px;

}

textarea:focus {
  outline: none;
}

.feelings {
  padding: 30px;
  width: 600px;
  border: none;
  max-width: 900px;
}
